body{
    background-image: "./assets/images/confectionary.png";

}
.header
{
    background-color: #FFF;
    height: 72px;
}
hr
{
    width: 960px;
}
.center
{
    width: 960px;
    margin: auto;
}
.floatLeft
{
    color: #FFF;
    background-color: teal;
    height: 80px;
    float: left;
    padding: 1%;
    text-align: center;
    font-size: 26px;
}
.floatRight
{
    float:right;
}
.floatRight a
{
    top: 25px;
    font-size: 18px;
    color: teal;
    margin-left: 10px;
    position: relative;

}
.content
{
    clear: both;
}

.center h1 
{
    line-height: 100px;
}

.divright h2
{
    font-size: 16px;
}
.centercontent
{
    float: left;
    margin-left: 200px;
    
}
.cwmfloatright
{
    float: left;
    width: 270px;
    margin-left: 450px;
}

.cwmimages
{
    width: 50px;
    height: 50px;
}
.cwmheader
{
    width: 270px;
}
footer
{
    clear:both;
}


/*margin = auto 
.floatright a = 
.floatright a:hover = background color when hovering with mouse;

body{
    background-color: #AAA;
}
.header
{
    background-color: #FFF;
    height: 80px;
}
.center
{
    width: 960px;
    margin: auto;
}
.floatLeft
{
    background-color: #9999FF;
    height: 80px;
    float: left;
    margin: 0px;
}
.floatRight
{
    float:right;
}
.floatRight a
{
    font-size: 24px;
    margin-left: 10px;
    position: relative;
}
.floatRight a:hover
{
    background-color: #FF5599;
    top: 10%;
}
.content
{
    clear: both;
}

/*
